---
import PercentageSlider from "../PercentageSlider.astro"
import Sparkling from "../components/Sparkling.astro"
import Stars from "../components/Stars.astro"
import Umbrella from "../components/Umbrella.astro"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<PercentageSlider 
		graphText = "HVOR MANGE LGTBQ+ ELEVER TROR DU FØLER, AT DE IKKE KAN VÆRE SIG SELV?"
		classColor = "bluecolor">
			<Stars/>
		</PercentageSlider>
		<br>
		<PercentageSlider
		graphText = "HVOR MANGE 15 ÅRIGE PIGER, TROR DU, FØLER SIG FOR TYKKE?"
		classColor = "redcolor">
			<Umbrella/>
		</PercentageSlider>
		<br>
		<PercentageSlider graphText = "HVOR MANGE PIGER I 9.KLASSE, TROR DU HAR LAVT SELVÆRD?"
		classColor = "bluecolor">
	</PercentageSlider>
		
	<PercentageSlider graphText = "HVOR MANGE 15 ÅRIGE PIGER, TROR DU, FØLER SIG FOR TYKKE?"
		classColor = "bluecolor">
	<Sparkling/>
	</PercentageSlider>
	
		


	</body>

</html>

