---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<dotlottie-player
      src="https://lottie.host/6794e0d6-6fab-4c18-a10a-f40a70ada1d7/PUNe5mODKp.lottie"
      background="transparent"
      speed="1"
      style="width: 900px; height: 500px"
      direction="1"
      playMode="normal"
      loop
      autoplay
    ></dotlottie-player>
  </body>
  <script
    src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
    type="module"
  ></script>
</html>
