---
import Knap from "../components/Knap.astro";
---

<card class="call-to-action">
  <img id="end-img" src="calltoactionpic.png" alt="" />

  <div class="text-container">
    <h2>Bliv en del af vores sisterhood</h2>
    <Knap />
  </div>
</card>

<style>
  h2 {
    color: #273aa9;
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5vw;
    text-transform: uppercase;
  }

  .call-to-action {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }

  #end-img {
    width: 50%;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  .call-to-action,
  .text-container {
    grid-area: 1/1;
  }

  .call-to-action,
  img {
    grid-area: 1/1;
  }

  @media screen and (max-width: 680px){

h2{font-size: 3vw;} 


}
</style>
