---
const {quotes} = Astro.props; 
---
<div class="quote">
<q>{quotes}</q>
</div>
<style>

.quote {
        display: flex;
        flex-direction: column;


      }

q {
    color: #273AA9;
    font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
    font-size: 1.8vw;
 
}


@media screen and (max-width: 800px) {
q {
   
    max-width: 800px;
    margin: 4rem 0;
    font-size: 3vw;


}
}
</style>