---
import SparklingAnimation from "./SparklingAnimation.jsx";
---

<div class="item mirror">
  <h2>50%</h2>
  <p>Af alle 15-årige piger føler, at de er for tykke.</p>
  <div style="width: 100%;" class="container">
    <SparklingAnimation client:only />
  </div>
</div>
