---
import StarsAnimation from "./StarsAnimation.jsx";
---
<div class="item umbrella">
    <h2>25%</h2>
    <p>Af børn i 5 til 8 klasse føler sig ensomme</p>
    <div style="width: 100%;" class="container">
      <StarsAnimation client:only />
    </div>
  </div>